<div class="header">
            <h3>Social - you successfully posted an activity!</h3>
        </div>

<h2>Post ID: <span id="postIdHere"># goes here</span></h2>
<h5>Please keep this Post ID private as this allows you to edit your post at a later date.
    <br>
    One last thing thing we need.......
</h5>

<form>
    <div class="form-group">
    <label for="inputName">Your name:</label>
    <input type="password" class="form-control" id="inputName" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<button src="/newpost" class="btn btn-outline-secondary btn-large" id="confirmPostAct" type="submit">Post Another Activity</button>
      <button src="/" class="btn btn-outline-info btn-large" id="confirmCancelAct" type="submit">Return Home</button>