
        <div class="header">
            <h3>Social - add a new post!</h3>
        </div>

<h2>Add Activity</h2>
<form class="create-form">

  <div class="form-group">
    <label for="event_name">Activity Name:</label>
    <input type="text" id="event_name" name="event_name">
  </div>

  <div class="form-group">
    <label for="actLink">Activity Link:</label>
    <input type="url" id="actLink" name="url">
  </div>


<div class="dropdown">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose Category
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Music/Festivals</a>
    <a class="dropdown-item" href="#">Shopping</a>
    <a class="dropdown-item" href="#">Resturants/Date Night</a>
    <a class="dropdown-item" href="#">Outdoor/Nature</a>
  </div>
</div>
<br>
  <button class="btn btn-outline-secondary btn-large" type="submit">Post New Activity</button>
</form>
