{{!--  --}}
       
        <div class="header">
            <h3>Social - update an existing post!</h3>
        </div>

<h2>Update Activity</h2>
<h5>Please fill in all fields - even if the information hasn't changed.</h5>
<form class="create-form">
  <div class="form-group">
    <label for="post_id">Original Post ID#:</label>
    <input type="text" id="post_id" name="post_id">
  </div>
<br>
  <div class="form-group">
    <label for="event_name">Activity Name:</label>
    <input type="text" id="event_name" name="event_name">
  </div>
  <div class="form-group">
    <label for="actLink">Activity Link:</label>
    <input type="url" id="actLink" name="url">
  </div>
<div class="form-group">
    <label for="event_city">Activity City:</label>
    <input type="text" id="event_city" name="event_city">
  </div>
<br>
<div class="form-group">
    <label for="event_category">Activity Category:</label>
    <input type="text" id="event_category" name="event_category">
  </div>
<br>
  <button class="btn btn-outline-secondary btn-large" id="postAct2" type="submit">Post New Activity</button>
      <button src="/" class="btn btn-outline-danger btn-large" id="cancelAct" type="submit">Cancel</button>
</form>
<br><br>
{{!-- <div class="alert alert-success" id="forId2" role="alert">
  Your post was successfully updated!
</div> --}}

<script type="text/javascript" src="/static/js/update.js"></script>