
        <div class="header">
            <h3>Social - update an existing post!</h3>
        </div>

<h2>Update Activity</h2>
<h5>Please fill in all fields - even if the information hasn't changed.</h5>
<form class="create-form">

    <div class="form-group">
    <label for="event_name">Activity Name:</label>
    <input type="text" id="event_name" name="event_name">
  </div>

  <div class="form-group">
    <label for="post_id">Post ID:</label>
    <input type="text" id="post_id" name="post_id">
  </div>

  <div class="form-group">
    <label for="actLink">Activity Link:</label>
    <input type="url" id="actLink" name="url">
  </div>

  <div class="dropdown">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonCity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose City
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">La</a>
    <a class="dropdown-item" href="#">Nyc</a>
    <a class="dropdown-item" href="#">Portland</a>
    <a class="dropdown-item" href="#">Colorado</a>
    <a class="dropdown-item" href="#">Vegas</a>
  </div>
</div>
<br>

<div class="dropdown">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose Category
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Music/Festivals</a>
    <a class="dropdown-item" href="#">Shopping</a>
    <a class="dropdown-item" href="#">Resturants/Date Night</a>
    <a class="dropdown-item" href="#">Outdoor/Nature</a>
  </div>
</div>
<br>
  <button class="btn btn-outline-secondary btn-large" id="updateAct" type="submit">Update Activity</button>
    <button class="btn btn-outline-danger btn-large" id="deleteAct" type="submit">Delete Activity</button>

</form>
