* {
    text-align: center;
    font-family: 'Staatliches', cursive;
}

body {
    background-color: white;
    font-family: 'Staatliches', cursive;
    border: dotted darkgreen 3px

}

h3 {
    color:black;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

p {
    font-size: 10px;
    color: white;
}

@media (max-width: 780px) {
    .devourBtn {
        font-size: 40%;
    }
    .burger_name {
        font-size: 40%;
    }
}

@media (max-width: 435px) {
    .devourBtn {
        font-size: 40%;
    }
    .burger_name {
        font-size: 40%;
    }
}
  
